div {

    width: 65px;
    
    height: 65px;
    
    line-height: 65px;
    
    border: 3px solid gray;
    
    padding: 7px;
    
    border-radius: 100px;
    
    float: left;
    
    font-size: 38px;
    
    text-align: center;
    
    font-family: Georgia, Times, 'Times New Roman', serif;
    
    margin-right: 4px;
    
    margin-top: 16px;
    
    color: gray;
    
    display:inline-block;
    }